################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/2B60268BB48AAE47A9DD7833A9239E76/10AB46BF741BC8459CB657B53215DB4A/C074D6B75D36D145255BD22FA1953820
